*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /*background-color: lightblue;*/
}

.photos{

 padding: 1em;
 border: solid 1px red;
}

img{
  display: block;
  max-width: 100%;
  background-color: red;
}

.photos-center{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-gap: 2em;
}